@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Unbounded:wght@200..900&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #299e60;
  --primary-light: #e6f9ef;
  --white-color: #fff;
  --black-color: #000;
  --Unbounded: "Unbounded", sans-serif;
  --Merienda: "Merienda", cursive;
  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

* {
  scroll-behavior: smooth;
}

.Unbounded {
  font-family: var(--Unbounded) !important;
}

.Merienda {
  font-family: var(--Merienda) !important;
}
